/* line 1, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.btn-xlarge {
  width: 100%;
  padding-top: 75%;
  font-size: 22px;
  background: url("james.png");
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
