/* line 1, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_20 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_20-7cdc0a006e390ff07536d59da92d4fc9b0e5ae890ecdc1b1709575ff41abfce5.png);
}

/* line 2, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_20_5 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_20_5-ab517d5d616296e7fc000d943c8e1c87e374aa3fb622a99272a7a9c100071310.png);
}

/* line 3, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_21 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_21-61f1e3a56a71e9fe9b05e1d1e83119deae0be3b87207ca02575fb0564a14a78d.png);
}

/* line 4, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_21_5 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_21_5-cbdb8b4b1eb45caa7bf3cf46b7b654f0901924c4828ae31a579963613ddd3891.png);
}

/* line 5, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_22 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_22-efe59e35a9da2dc42bc00276f7d55d5dcfb1ecac57246dc94f712c3c71601267.png);
}

/* line 6, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_22_5 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_22_5-e45cdbd1f632e3f1773f514133889ed567d6a717c03c2341d8fc497bf22c995a.png);
}

/* line 7, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_23 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_23-fd06d55fca5256cdf3ca87d6095185929c4baa41d466c25b4bcf2c3513588b4c.png);
}

/* line 8, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_23_5 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_23_5-bc24dee91250b4586e2589ffb832def826340da8196fa5c9f5a3292cab0c241f.png);
}

/* line 9, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_24 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_24-98551287127c53ff23ed85b76955a6d9dd979624775839b3ffdd5aa5ac6f235b.png);
}

/* line 10, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_24_5 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_24_5-634555ef50186de1b90d3d4d3e73c72f710463d908bd81cdac4ffc709723f62d.png);
}

/* line 11, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_25 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_25-53af6b5a7495675e85e60dee97362d9245a291c21ba9a86ebfadac2695c227ba.png);
}

/* line 12, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_25_5 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_25_5-14f40cafd091d625e25eb55767fae654284ca8d0857a7bcb2276f7fd195f61ca.png);
}

/* line 13, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_26 {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png), url(/assets/temperatures/temp_26-6e45fd59d9e721faffeee182467bc77cf8da7d4de79ffcad26be4590ebb8e522.png);
}

/* line 14, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.t_empty {
  background-image: url(/assets/nest-c32b3ccf586f7aba5603934bae487f88a47b52e497d51ce2147b8fa814c8dd7e.png);
}

/* line 16, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.nest {
  width: 100%;
  background-size: 100%;
  padding-top: 100%;
}

/* line 22, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.btn-xlarge {
  width: 100%;
  padding-top: 75%;
  font-size: 22px;
  background: url(/assets/james-cb5bf484d8dfde7e84054101acdb7188938f2fd0bfd5bed23276380fa10d51fb.png);
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* line 33, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.light-active {
  border-color: #fff8e0;
  border-width: 4px;
}

@font-face {
  font-family: 'weather';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 51, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
#weather {
  text-align: right;
}

/* line 55, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.weather-icon {
  font-family: weather;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

/* line 63, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-0:before {
  content: ":";
}

/* line 64, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-1:before {
  content: "p";
}

/* line 65, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-2:before {
  content: "S";
}

/* line 66, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-3:before {
  content: "Q";
}

/* line 67, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-4:before {
  content: "S";
}

/* line 68, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-5:before {
  content: "W";
}

/* line 69, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-6:before {
  content: "W";
}

/* line 70, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-7:before {
  content: "W";
}

/* line 71, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-8:before {
  content: "W";
}

/* line 72, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-9:before {
  content: "I";
}

/* line 73, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-10:before {
  content: "W";
}

/* line 74, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-11:before {
  content: "I";
}

/* line 75, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-12:before {
  content: "I";
}

/* line 76, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-13:before {
  content: "I";
}

/* line 77, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-14:before {
  content: "I";
}

/* line 78, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-15:before {
  content: "W";
}

/* line 79, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-16:before {
  content: "I";
}

/* line 80, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-17:before {
  content: "W";
}

/* line 81, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-18:before {
  content: "U";
}

/* line 82, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-19:before {
  content: "Z";
}

/* line 83, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-20:before {
  content: "Z";
}

/* line 84, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-21:before {
  content: "Z";
}

/* line 85, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-22:before {
  content: "Z";
}

/* line 86, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-23:before {
  content: "Z";
}

/* line 87, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-24:before {
  content: "E";
}

/* line 88, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-25:before {
  content: "E";
}

/* line 89, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-26:before {
  content: "3";
}

/* line 90, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-27:before {
  content: "a";
}

/* line 91, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-28:before {
  content: "A";
}

/* line 92, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-29:before {
  content: "a";
}

/* line 93, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-30:before {
  content: "A";
}

/* line 94, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-31:before {
  content: "6";
}

/* line 95, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-32:before {
  content: "1";
}

/* line 96, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-33:before {
  content: "6";
}

/* line 97, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-34:before {
  content: "1";
}

/* line 98, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-35:before {
  content: "W";
}

/* line 99, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-36:before {
  content: "1";
}

/* line 100, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-37:before {
  content: "S";
}

/* line 101, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-38:before {
  content: "S";
}

/* line 102, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-39:before {
  content: "S";
}

/* line 103, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-40:before {
  content: "M";
}

/* line 104, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-41:before {
  content: "W";
}

/* line 105, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-42:before {
  content: "I";
}

/* line 106, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-43:before {
  content: "W";
}

/* line 107, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-44:before {
  content: "a";
}

/* line 108, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-45:before {
  content: "S";
}

/* line 109, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-46:before {
  content: "U";
}

/* line 110, /Users/muhammadkhadafi/Documents/Bibsy-Home/Dashboard/app/assets/stylesheets/bibsy-bond.scss */
.icon-47:before {
  content: "S";
}
