<% if @current_temp == 20.0 %>
	<div class="nest t_20"></div>
<% elsif @current_temp == 20.5 %>
	<div class="nest t_20_5"></div>
<% elsif @current_temp == 21.0 %>
	<div class="nest t_21"></div>
<% elsif @current_temp == 21.5 %>
	<div class="nest t_21_5"></div>
<% elsif @current_temp == 22.0 %>
	<div class="nest t_22"></div>
<% elsif @current_temp == 22.5 %>
	<div class="nest t_22_5"></div>
<% elsif @current_temp == 23.0 %>
	<div class="nest t_23"></div>
<% elsif @current_temp == 23.5 %>
	<div class="nest t_23_5"></div>
<% elsif @current_temp == 24.0 %>
	<div class="nest t_24"></div>
<% elsif @current_temp == 24.5 %>
	<div class="nest t_24_5"></div>
<% elsif @current_temp == 25.0 %>
	<div class="nest t_25"></div>
<% elsif @current_temp == 25.5 %>
	<div class="nest t_25_5"></div>
<% elsif @current_temp == 26.0 %>
	<div class="nest t_26"></div>
<% else %>
	<div class="nest t_empty"></div>
<% end %>