.btn-xlarge {
	width:100%;
	padding-top:75%;
    font-size: 22px; 
    background: url('james.png');
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.light-active {
	border-color: rgb(255, 248, 224);
	border-width: 4px;
}